<!---Filename: footer.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 -->
<section><div></div><hr></section>
<footer>
    <div class="footer">
      <span class="copyright">Copyright &copy; 2022. All Rights Reserved.</span>
    </div>
   </footer>
   <!--- mode js scripts called here -->  
   <script src="/Scripts/app.js"></script>
   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="/popper.js/dist/popper.min.js"></script>
</body>
</html>