<!---Filename: header.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title><%=title %></title>
    <link rel='stylesheet' href='Content/app.css' />
    <link rel='stylesheet' href='Content/footer.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
   
     <!---Call alert validator as part of requirement to capture form values --> 
    <script src="Scripts/validate.js">  </script>
  </head>
  
  <body>