<!---Filename: main_nav.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 --> 
<!---Dark navigator menu 
      Note: Logo created in https://www.freelogodesign.org/ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
  <a class="navbar-brand" href="/home"><img src="Assets/images/mylogo2.png" class="rounded-pill" width="50" height="50" alt=""></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/about"><i class="far fa-meh-rolling-eyes"></i> About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/projects"><i class="fas fa-tools"></i> Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/services"><i class="fas fa-hard-hat"></i> Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/contacts"><i class="fas fa-at"></i> Contacts</a>
      </li>
    </ul>
  
  </div>
</nav>