<!---Filename: index.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 -->
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>   
<!--- Body Begins-->
<section>
  <div class="jumbotron text-center mt-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h1>Hi, I'm Rowel.</h1>
<p>I'm a student of Centennial College currently taking up Software Engineering Technology - Fast Track. 
  I am an experienced Linux engineer, with an extensive professional background 
  in software development in Bash/Shell Scripting and systems integration.</p>
  <p>My mission and goal is to increase my knowledge in programming so that develop a life-changing
    applications that will help people globally.
  </p>
          <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more »</a></p>
          
        </div>
        
        <div class="col-12 col-lg-6"><img src="Assets/images/sapo.jpg" width="468" height="428" alt=""/></div>
      </div>
    </div>
  </div>
</section>
<!--- Footer Begins-->>
 <%- include partials/footer.ejs%> 
  
