<!---Filename: services.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 -->
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%> 
<!--- Body Begins
      Note: Photos downloaded as free from https://www.pexels.com/-->
<section>
    <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2>My Services</h2>
              <p>I can help you...</p>
            </div>
          </div>
     </section>
     <section><div></div><hr></section>
<section>
    <div class="container">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 text-center offset-lg-1 col-lg-5">
                        <img src="Assets/images/pexels-hitesh-choudhary-879109.resize.jpg" alt="" width="300" height="200" class="rounded">
                <h4>Software Development&nbsp;</h4>
                <p class="text-lg-start">I offer comprehensive software development using Java, 
                    Python, C/C++, Javascript and other programming languages.&nbsp; &nbsp;</p>
            </div>
            <div class="col-md-6 col-12 text-center mt-md-0 mt-2 col-lg-5">
                        <img src="Assets/images/pexels-christina-morillo-1181341-resize.jpg" alt="" width="300" height="200" class="rounded">
                <h4>Technical Support</h4>
                    <p class="text-lg-start">Provides technical support needs involving 
                        Linux/Unix installation and troubleshooting including system support. &nbsp; &nbsp; &nbsp;&nbsp; </p>
            </div>
        </div>
    </div>
</section>
           
           <section><div></div><hr></section>
<section>
    <div class="row">
          <div class="col-md-6 col-12 text-center offset-lg-1 col-lg-5">
                    <img src="Assets/images/pexels-christina-morillo-1181244.resize.jpg" alt="" width="300" height="201" class="rounded">
            <h4>Mobile Development&nbsp;</h4>
        <p class="text-lg-start">Android and IOS mobile development services. 
            I create high quality mobile applications.&nbsp; &nbsp;</p>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2 col-lg-5">
                    <img src="Assets/images/pexels-olia-danilevich-4974913.resize.jpg" alt="" width="300" height="200" class="rounded">
            <h4>Project Management</h4>
              <p class="text-lg-start">With my extensive project management experience, I help customers to handle project 
              deployments and complete before scheduled timeline.  &nbsp; &nbsp;&nbsp; </p>
          </div>
       </div>
          
</section>
        
    <section><div></div><hr></section>
           
    <!--- Footer Begins-->

    <%- include partials/footer.ejs%> 