<!---Filename: about.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 -->
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>   
 <!---Body starts here-->  
<section>
    <div class=" mt-2">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h4>Hi, I'm Rowel Almuete.</h4>
            <p></p>
            <p class="text-lg-start">I'm a student of Centennial College currently taking up Software Engineering Technology - Fast Track. I am an experienced Linux engineer, with an extensive professional background in software development in Bash/Shell Scripting and systems integration. </p>
            <p class="text-lg-start">My professional background includes over 10 years of work experience in the IT, where I have developed skills in programming (Java, C/C++, C#, PHP, HTML/CSS, JavaScript), software testing, databases (Oracle, SQL Server, and MySQL Database) and IT project management. Currently, I am working a customer service role, where I have demonstrated my skill in working in a fast-paced, high-volume environment, with a team environment. As a professional, I pride myself on a strong work ethic and desire to constantly be evolving, growing and learning within any role I am in. </p>
            <p class="text-lg-start">I'm a team player and love challenges. My favorite sports are basketball and MMA.&nbsp;&nbsp;</p>
          </div>
          
          <div class="col-12 col-lg-6"><img src="Assets/images/mugshot.jpg" alt="" width="450" height="411" class="img-thumbnail img-fluid"/>
        </div>
        <div><p>
           <!---link to a PDF version of my Resume 
            Note: User download attribute on button to tell the browser
            to trigger client to download the file.
            See documentation here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-download
            -->
            <a class="btn btn-primary btn-lg" href="Assets/docs/Rowel_Almuete_Resume.pdf" download="Rowel Almuete Resume" role="button">See My Resume</a>
        </p></div>
        </div>
      </div>
    </div>
    
  </section>
  <!--Footer starts here-->
 <%- include partials/footer.ejs%> 