<!---Filename: projects.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-03 -->
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>   
  
<!--- Body Begins-->
   
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>My Projects</h2>
        <p>Highlighting the projects that I recently worked on....</p>
      </div>
    </div>
  <div><section><div></div><hr></section></div>
    <div class="row">
<div class="col-md-6 col-12 text-center">
        <img src="Assets/images/asic.jpg" alt="" width="400" height="280" class="rounded">
<h4>Globe Telecomm: Project CAPONE&nbsp;</h4>
<p class="text-lg-start">A project by Globe Telecomm to create a API software program for a 
3rd party system to manage customer modem authentication. I'm the Software Design Architech and Team lead for this project that was successfully launched in 2019.</p>
</div>
<div class="col-md-6 col-12 text-center mt-md-0 mt-2">
<img src="Assets/images/expansion.jpg" alt="" width="400" height="280" class="rounded">
<h4>Globe Telecomm: Site Expansion</h4>
      <p class="text-lg-start">Broadband System  installation and integration project by Globe Telecomm 
        to install Authentication and Provisioning System consisting Oracle database, MySQL database,&nbsp; 
      Java and PHP application hosted in appliance-based servers with Redhat 8.&nbsp; My role is Team Lead that guides and lead the technical team in completing this project ahead of the proposed timeline.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
</div>
</section>	  
<hr>
<section>
 <div class="col-md-6 col-12 text-center">
     &nbsp; &nbsp;</p>
</div>
<div class="col-md-6 col-12 text-center offset-lg-4 col-lg-5">
        <img src="Assets/images/esim.jpg" alt="" width="400" height="280" class="rounded img-fluid">
<h4>Globe Telecomm: eSIM&nbsp;</h4>
<p class="text-lg-start">Installation and integration project by Globe Telecomm to 
    deploy a Java-based application system for e-SIM subscribers. I was the Project Manager for this project
    and was completed successfully within the proposed schedule.</p>
</div>
</section>
<hr>
<div><hr></div>
<!--- Footer Begins-->
 <%- include partials/footer.ejs%> 